<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="4.19.4" targetFramework="net461" />
  <package id="FodyCecil" version="2.2.0" targetFramework="net461" developmentDependency="true" />
  <package id="NUnit" version="3.8.1" targetFramework="net461" />
</packages>